@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-black: #0a0a0a;
    --color-white: #fafafa;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
  }

  body {
    @apply bg-surface text-surface-50 antialiased;
    font-family:
      'Inter',
      system-ui,
      -apple-system,
      sans-serif;
  }

  .dark body {
    @apply bg-surface text-surface-50;
  }
}
